<div class="ui center grid">
  <div class="column sixteen wide">
    <div class="menu">
      {{map/nav-bar logout="logout"}}
      <br>
      <div class="panel ui grid">
        <div class="five wide column">
          <h2>Hello, please launch the simulation when you're ready</h2>
          {{map/input-form truck=model.truck launchtruck="launchtruck"}}
          <br>
          <div class="ui horizontal divider">
            Truck monitoring
          </div>
          <br>
          <br>

          <div class="ui one column centered grid">
            <div class="column">
              <h3>A) Truck status delivering</h3>
              {{tables/table-truck delivering=1 model=model.truck}}
              <h3>B) Truck status standby</h3>
              {{tables/table-truck delivering=2 model=model.truck}}
            </div>
            <br>
          </div>
          <br>
          <br>
          {{#link-to 'table-truck-page'}}<button class="ui grey basic button" type="submit">Manage your Trucks</button>{{/link-to}}
        </div>
        <div class="eleven wide column">
          {{map/google-map  markers=model.mapMarkers substep=model.substep id="map"}}
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
