<div class="menu">
  {{#if session.isAuthenticated}}
    {{users/nav-bar}}
    <br>

    <a {{action 'logout'}}>
      <button class="ui google plus button">
        <i class="google plus icon"></i>
        Logout
      </button>
    </a>

    <br><br>

    <div class="ui divider"></div>
    <div class="ui two column vertically padded grid">
      <div class="column">

      </div>
      <div class="column">
        {{map/input-form searchPos="searchPos" }}
      </div>
    </div>
  {{else}}
    {{#link-to 'login'}}
      <button class="ui instagram button">
        <i class="instagram icon"></i>
        Login
      </button>
    {{/link-to}}
    {{#link-to 'register'}}
      <button class="ui instagram button">
        <i class="instagram icon"></i>
        Register
      </button>
    {{/link-to}}
  {{/if}}

</div>
<div class="main">
  {{outlet}}
</div>




