<div class="menu">
  {{map/nav-bar logout="logout"}}
  <br>
  {{tables/table-nav}}
  <br>
  {{tables/table-truck model=model}}
  <br>
  {{button/triple-button typeobject="truck" create="createuser" update="update" delete="delete"}}
</div>
{{outlet}}

